* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background: url(../images/powerplantbackground.jpg);
    background-size: 500% 500%;
    height: 100vh;
    background-position: 0% 0%;
    animation: animate 90s infinite ease-in-out;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

@keyframes animate {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 100% 100%;
    }

    50% {
        background-position: 0% 100%;
    }

    75% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}
table tr th{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    font-size: 35px;
    padding: 20px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
table tr td{
    color:white;
    padding: 0 20px;
    font-size: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#display{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
    padding: 50px;
}
.even{
    background-color: rgba(0,0,0,0.2);
}
tr:hover{
    background-color: rgba(0,0,0,0.3);
}
tr{
    transition: 0.2s;
}